
body {
    font-family: sans-serif;
    background-color: bisque;
    color: black;
}
/*[id] {
    color: purple;
} */

h1 {
    color: green;
}

p {
    color: darkblue;
}

.highlight {
    color: red;
}

#main-title {
    color: lightblue;
}

nav a {
    color: darkgreen;
    font-weight: bold;
}

nav a:hover {
    color: darkblue;
    text-decoration: underline;
}